<!--Menu-->
<!--Show if user not login-->

<link href="https://bootswatch.com/4/cerulean/bootstrap.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">D4D</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="auth">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">SignUp</a>
      </li>
    </ul>
  </div>
</nav>



<!--Show if user login-->
<div layout="row" ng-if="vm.gettingName.length != 0">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><md-button ui-sref="home" class="navbar-colors">Home</md-button></td>
                        <td><md-button ui-sref="managingjobs">Manage Jobs</md-button></td>
                        <td><md-button ng-click="vm.logout()" ui-sref="auth" >Logout</md-button></td>
                        <td>{{vm.gettingName}}</td>
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Content-->
<div layout="row">
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Welcome to D4D</h1>
                    <md-divider></md-divider>
                </md-content>
            </center>
        </md-content>
    </md-card>
  </div>
</div>
